@charset "UTF-8";

@import "bourbon/bourbon";

@mixin font-roboto($size: false, $color: false, $weight: false, $line-height: false) {
  font-family: 'Roboto', sans-serif;
  @if ($size) {
    font-size: $size;
  }
  @if ($color) {
    color: $color;
  }
  @if ($weight) {
    font-weight: $weight;
  }
  @if ($line-height) {
    line-height: $line-height;
  }
}

#content {
  position: relative;
  background: transparent;
}

#grid {
  border-collapse: collapse;

  td {
    @include font-roboto(12px, rgba(255, 255, 255, 0.6), 700, 16px);
    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    width: 16px;
    height: 16px;
    text-align: center;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    &.revealed {
      cursor: default;
      background: transparent;
    }

    &.mine {
      background: url("../img/mine.png") no-repeat;
      background-size: 100% 100%;
    }

    &.flag {
      background: url("../img/flag.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}

#info {
  display: flex;

  #timer {
    @include font-roboto(12px, white, 700);
    flex: 1;
    padding: 8px;
  }

  #mine-count {
    @include font-roboto(12px, white, 700);
    padding: 8px;
  }
}

#overlay {
  display: flex;
  flex-direction: column;
  @include position(absolute, 0 null null 0);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  #smiley-face {
    @include font-roboto(56px, white);
    text-align: center;

    &::after {
      content: '\263A';
    }
  }

  #play-again {
    @include font-roboto(14px, white);
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.16);
    }
  }
}

.won {
  background-color: #4CAF50;
}

.lost {
  background-color: #F44336;
}
